---
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="My personal website with words and thoughts."
    />
    <title>Jonatan Kłosko</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body>
    <main class="p-4 max-w-[712px] mx-auto mt-8 mb-4">
      <slot />
    </main>
    <style is:global>
      body {
        background-color: #fafafa;
        color: #242424;
        font-family: "Lora", sans-serif;
        font-size: 18px;
      }
    </style>
  </body>
</html>
